In [179]:
import numpy as np
import pandas as pd
# Plotting graphs
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics



# CSV File - Read
df = pd.read_csv('D:\\SageIT-DS\\realestate.csv')
#  ,header=None ,skiprows=1 , names=['Cal', 'Pr', 'Fat', 'sod', 'Fib', 'Rting']


print(df.columns)

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude'],
      dtype='object')

In [180]:
df.isnull().sum()

Suburb             4
Address           14
Rooms             24
Type              24
Price           3177
Method            24
SellerG           24
Date              24
Distance          24
Postcode          24
Bedroom2        3044
Bathroom        3044
Car             3044
Landsize        3061
BuildingArea    8078
YearBuilt       7147
CouncilArea     3063
Lattitude       2940
Longtitude      2939
dtype: int64

In [181]:
from collections import Counter
Counter(df['Suburb'])

Counter({'Abbotsford': 78,
         'Airport West': 75,
         'Albert Park': 78,
         'Alphington': 42,
         'Altona': 62,
         'Altona North': 94,
         'Armadale': 139,
         'Ascot Vale': 130,
         'Ashburton': 90,
         'Ashwood': 82,
         'Avondale Heights': 88,
         'Balaclava': 26,
         'Balwyn': 180,
         'Balwyn North': 224,
         '    RE': 20,
         'Bentleigh': 170,
         'Bentleigh East': 314,
         'Box Hill': 71,
         'Braybrook': 55,
         'Brighton': 248,
         'Brighton East': 226,
         'Brunswick': 228,
         'Brunswick West': 126,
         'Bulleen': 91,
         'Burwood': 135,
         'Camberwell': 226,
         'Canterbury': 73,
         'Carlton North': 52,
         'Carnegie': 161,
         'Caulfield': 14,
         'Caulfield North': 44,
         'Caulfield South': 64,
         'Chadstone': 64,
         'Clifton Hill': 71,
         'Coburg': 226,
         'Coburg North': 86,
         'Collingwood': 72,
         'Doncaster': 152,
         'Eaglemont': 34,
         'Elsternwick': 79,
         'Elwood': 156,
         'Essendon': 222,
         'Essendon North': 20,
         'Fairfield': 53,
         'Fitzroy': 73,
         'Fitzroy North': 93,
         'Flemington': 64,
         'Footscray': 143,
         'Glen Iris': 266,
         'Glenroy': 213,
         'Gowanbrae': 27,
         'Hadfield': 64,
         'Hampton': 157,
         'Hampton East': 60,
         'Hawthorn': 216,
         'Heidelberg Heights': 87,
         'Heidelberg West': 74,
         'Hughesdale': 44,
         'Ivanhoe': 130,
         'Kealba': 25,
         'Keilor East': 123,
         'Kensington': 120,
         'Kew': 251,
         'Kew East': 66,
         'Kooyong': 11,
         'Maidstone': 89,
         'Malvern': 132,
         'Malvern East': 212,
         'Maribyrnong': 130,
         'Melbourne': 127,
         'Middle Park': 37,
         'Mont Albert': 62,
         'Moonee Ponds': 152,
         'Moorabbin': 71,
         'Newport': 149,
         'Niddrie': 80,
         'North Melbourne': 76,
         'Northcote': 210,
         'Oak Park': 77,
         'Oakleigh South': 74,
         'Parkville': 37,
         'Pascoe Vale': 193,
         'Port Melbourne': 204,
         'Prahran': 187,
         'Preston': 263,
         'Reservoir': 444,
         'Richmond': 301,
         'Rosanna': 99,
         'Seddon': 61,
         'South Melbourne': 92,
         'South Yarra': 242,
         'Southbank': 47,
         'Spotswood': 31,
         'St Kilda': 235,
         'Strathmore': 94,
         'Sunshine': 116,
         'Sunshine North': 86,
         'Sunshine West': 105,
         'Surrey Hills': 152,
         'Templestowe Lower': 121,
         'Thornbury': 164,
         'Toorak': 164,
         'Viewbank': 51,
         'Watsonia': 49,
         'West Melbourne': 36,
         'Williamstown': 117,
         'Williamstown North': 23,
         'Windsor': 76,
         'Yallambie': 34,
         'Yarraville': 175,
         'Aberfeldie': 42,
         'Bellfield': 19,
         'Brunswick East': 98,
         'Burnley': 5,
         'Campbellfield': 10,
         'Carlton': 49,
         'East Melbourne': 29,
         'Essendon West': 30,
         'Fawkner': 115,
         'Hawthorn East': 161,
         'Heidelberg': 63,
         'Ivanhoe East': 29,
         'Jacana': 24,
         'Kingsbury': 16,
         'Kingsville': 39,
         'Murrumbeena': 88,
         'Ormond': 87,
         'West Footscray': 109,
         'Albion': 33,
         'Brooklyn': 24,
         'Glen Huntly': 36,
         'Oakleigh': 61,
         'Ripponlea': 10,
         'Cremorne': 28,
         'Docklands': 10,
         'South Kingsville': 29,
         'Strathmore Heights': 9,
         'Travancore': 11,
         'Caulfield East': 12,
         'Seaholme': 8,
         'Keilor Park': 20,
         'Gardenvale': 7,
         'Princes Hill': 6,
         nan: 4})

In [182]:
Suburb_null = df[df['Suburb'].isnull()].index.tolist()
df['Suburb'].iloc[Suburb_null] = 'Reservoir'
Counter(df['Suburb'])

C:\Users\pranavi\Anaconda3\lib\site-packages\pandas\core\indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

Counter({'Abbotsford': 78,
         'Airport West': 75,
         'Albert Park': 78,
         'Alphington': 42,
         'Altona': 62,
         'Altona North': 94,
         'Armadale': 139,
         'Ascot Vale': 130,
         'Ashburton': 90,
         'Ashwood': 82,
         'Avondale Heights': 88,
         'Balaclava': 26,
         'Balwyn': 180,
         'Balwyn North': 224,
         '    RE': 20,
         'Bentleigh': 170,
         'Bentleigh East': 314,
         'Box Hill': 71,
         'Braybrook': 55,
         'Brighton': 248,
         'Brighton East': 226,
         'Brunswick': 228,
         'Brunswick West': 126,
         'Bulleen': 91,
         'Burwood': 135,
         'Camberwell': 226,
         'Canterbury': 73,
         'Carlton North': 52,
         'Carnegie': 161,
         'Caulfield': 14,
         'Caulfield North': 44,
         'Caulfield South': 64,
         'Chadstone': 64,
         'Clifton Hill': 71,
         'Coburg': 226,
         'Coburg North': 86,
         'Collingwood': 72,
         'Doncaster': 152,
         'Eaglemont': 34,
         'Elsternwick': 79,
         'Elwood': 156,
         'Essendon': 222,
         'Essendon North': 20,
         'Fairfield': 53,
         'Fitzroy': 73,
         'Fitzroy North': 93,
         'Flemington': 64,
         'Footscray': 143,
         'Glen Iris': 266,
         'Glenroy': 213,
         'Gowanbrae': 27,
         'Hadfield': 64,
         'Hampton': 157,
         'Hampton East': 60,
         'Hawthorn': 216,
         'Heidelberg Heights': 87,
         'Heidelberg West': 74,
         'Hughesdale': 44,
         'Ivanhoe': 130,
         'Kealba': 25,
         'Keilor East': 123,
         'Kensington': 120,
         'Kew': 251,
         'Kew East': 66,
         'Kooyong': 11,
         'Maidstone': 89,
         'Malvern': 132,
         'Malvern East': 212,
         'Maribyrnong': 130,
         'Melbourne': 127,
         'Middle Park': 37,
         'Mont Albert': 62,
         'Moonee Ponds': 152,
         'Moorabbin': 71,
         'Newport': 149,
         'Niddrie': 80,
         'North Melbourne': 76,
         'Northcote': 210,
         'Oak Park': 77,
         'Oakleigh South': 74,
         'Parkville': 37,
         'Pascoe Vale': 193,
         'Port Melbourne': 204,
         'Prahran': 187,
         'Preston': 263,
         'Reservoir': 448,
         'Richmond': 301,
         'Rosanna': 99,
         'Seddon': 61,
         'South Melbourne': 92,
         'South Yarra': 242,
         'Southbank': 47,
         'Spotswood': 31,
         'St Kilda': 235,
         'Strathmore': 94,
         'Sunshine': 116,
         'Sunshine North': 86,
         'Sunshine West': 105,
         'Surrey Hills': 152,
         'Templestowe Lower': 121,
         'Thornbury': 164,
         'Toorak': 164,
         'Viewbank': 51,
         'Watsonia': 49,
         'West Melbourne': 36,
         'Williamstown': 117,
         'Williamstown North': 23,
         'Windsor': 76,
         'Yallambie': 34,
         'Yarraville': 175,
         'Aberfeldie': 42,
         'Bellfield': 19,
         'Brunswick East': 98,
         'Burnley': 5,
         'Campbellfield': 10,
         'Carlton': 49,
         'East Melbourne': 29,
         'Essendon West': 30,
         'Fawkner': 115,
         'Hawthorn East': 161,
         'Heidelberg': 63,
         'Ivanhoe East': 29,
         'Jacana': 24,
         'Kingsbury': 16,
         'Kingsville': 39,
         'Murrumbeena': 88,
         'Ormond': 87,
         'West Footscray': 109,
         'Albion': 33,
         'Brooklyn': 24,
         'Glen Huntly': 36,
         'Oakleigh': 61,
         'Ripponlea': 10,
         'Cremorne': 28,
         'Docklands': 10,
         'South Kingsville': 29,
         'Strathmore Heights': 9,
         'Travancore': 11,
         'Caulfield East': 12,
         'Seaholme': 8,
         'Keilor Park': 20,
         'Gardenvale': 7,
         'Princes Hill': 6})

In [184]:
from collections import Counter
Counter(df['Rooms'])

Counter({2.0: 4197,
         3.0: 5800,
         4.0: 2707,
         1.0: 801,
         5.0: 629,
         6.0: 60,
         7.0: 10,
         8.0: 11,
         nan: 1,
         nan: 1,
         10.0: 3,
         nan: 1,
         nan: 1,
         9.0: 2,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         12.0: 2,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1,
         nan: 1})

In [185]:
rooms_null = df[df['Rooms'].isnull()].index.tolist()
df['Rooms'].iloc[rooms_null] = 3
Counter(df['Rooms'])

Counter({2.0: 4197,
         3.0: 5824,
         4.0: 2707,
         1.0: 801,
         5.0: 629,
         6.0: 60,
         7.0: 10,
         8.0: 11,
         10.0: 3,
         9.0: 2,
         12.0: 2})

In [186]:
Counter(df['Type'])

Counter({'h': 9080, 'u': 3568, 't': 1574, nan: 24})

In [187]:
type_null = df[df['Type'].isnull()].index.tolist()
df['Type'].iloc[type_null] = 'h'
Counter(df['Type'])

Counter({'h': 9104, 'u': 3568, 't': 1574})

In [188]:
df.groupby(df['Type'])['Price'].median()

Type
h    1125000.0
t     830000.0
u     552000.0
Name: Price, dtype: float64

In [189]:
pd.crosstab( df['Price'].isnull(), df['Type'])

Type      h     t     u
Price
False  6923  1259  2887
True   2181   315   681

In [190]:
df.groupby(df['Rooms'])['Price'].median()

Rooms
1.0      388250.0
2.0      670000.0
3.0      965000.0
4.0     1385000.0
5.0     1807500.0
6.0     1900000.0
7.0     1252500.0
8.0     2065000.0
9.0     1380000.0
10.0    2380000.0
12.0    4700000.0
Name: Price, dtype: float64

In [191]:
pd.crosstab( df['Price'].isnull(), df['Rooms'])

Rooms  1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0   10.0  12.0
Price
False   646  3417  4573  1945   430    40     6     8     1     2     1
True    155   780  1251   762   199    20     4     3     1     1     1

In [192]:
price_null = df[df['Price'].isnull()].index.tolist()
df['Price'].iloc[price_null] = 1125000
Counter(df['Price'])

Counter({1125000.0: 3192,
         1480000.0: 10,
         1035000.0: 19,
         1465000.0: 8,
         850000.0: 54,
         1600000.0: 41,
         941000.0: 4,
         1876000.0: 1,
         1636000.0: 2,
         1000000.0: 83,
         745000.0: 14,
         300000.0: 18,
         1097000.0: 2,
         542000.0: 5,
         760000.0: 41,
         481000.0: 3,
         700000.0: 66,
         1350000.0: 49,
         750000.0: 66,
         1985000.0: 2,
         500000.0: 74,
         1172500.0: 1,
         441000.0: 1,
         1310000.0: 23,
         1200000.0: 83,
         847000.0: 4,
         1176500.0: 1,
         955000.0: 21,
         890000.0: 37,
         1330000.0: 23,
         900000.0: 65,
         1090000.0: 12,
         1100000.0: 97,
         1315000.0: 13,
         480000.0: 46,
         423500.0: 1,
         426000.0: 2,
         1447500.0: 1,
         457000.0: 5,
         1135000.0: 11,
         1542000.0: 2,
         962000.0: 5,
         1290000.0: 19,
         470000.0: 39,
         1180000.0: 19,
         1195000.0: 7,
         1012500.0: 1,
         970000.0: 32,
         1030000.0: 20,
         927000.0: 4,
         840000.0: 44,
         730000.0: 45,
         770000.0: 52,
         603000.0: 4,
         600000.0: 101,
         420000.0: 39,
         960000.0: 27,
         720000.0: 52,
         785000.0: 27,
         725000.0: 36,
         450000.0: 53,
         515000.0: 22,
         680000.0: 52,
         530000.0: 26,
         895000.0: 21,
         805000.0: 25,
         752000.0: 10,
         580000.0: 35,
         758000.0: 5,
         440000.0: 38,
         755000.0: 15,
         985000.0: 19,
         509500.0: 1,
         830000.0: 35,
         462500.0: 2,
         670000.0: 43,
         675000.0: 23,
         1042000.0: 1,
         910000.0: 49,
         773000.0: 7,
         715000.0: 21,
         810000.0: 52,
         790000.0: 32,
         460000.0: 32,
         540000.0: 34,
         825000.0: 35,
         685000.0: 24,
         445000.0: 14,
         510000.0: 32,
         612000.0: 5,
         662000.0: 5,
         978000.0: 1,
         474000.0: 4,
         490000.0: 38,
         405000.0: 18,
         671500.0: 1,
         765000.0: 31,
         820000.0: 51,
         650000.0: 88,
         552000.0: 2,
         1275000.0: 26,
         1455000.0: 10,
         2850000.0: 7,
         1850000.0: 21,
         1436000.0: 2,
         1110000.0: 33,
         1550000.0: 37,
         2300000.0: 17,
         1800000.0: 47,
         2485000.0: 1,
         2120000.0: 4,
         1810000.0: 7,
         2615000.0: 1,
         2100000.0: 29,
         1300000.0: 88,
         1370000.0: 19,
         2575000.0: 4,
         1322500.0: 1,
         1562500.0: 2,
         2000000.0: 46,
         1900000.0: 42,
         3010000.0: 4,
         2800000.0: 21,
         647000.0: 2,
         442500.0: 2,
         4735000.0: 1,
         1340000.0: 22,
         1801000.0: 2,
         1532000.0: 3,
         3755000.0: 1,
         2140000.0: 4,
         1750000.0: 27,
         980000.0: 26,
         2030000.0: 5,
         1740000.0: 10,
         1492000.0: 1,
         1304000.0: 1,
         1717500.0: 2,
         2840000.0: 3,
         525500.0: 6,
         465000.0: 19,
         1540000.0: 12,
         590000.0: 37,
         1830000.0: 9,
         865000.0: 20,
         390000.0: 24,
         512000.0: 3,
         1361000.0: 3,
         570000.0: 42,
         1165000.0: 11,
         1485000.0: 6,
         1950000.0: 21,
         520000.0: 43,
         1525000.0: 8,
         1120000.0: 20,
         780000.0: 45,
         1780000.0: 10,
         630000.0: 42,
         406000.0: 2,
         660000.0: 40,
         683500.0: 2,
         1335000.0: 12,
         800000.0: 82,
         1070000.0: 16,
         425000.0: 17,
         605000.0: 32,
         705000.0: 26,
         391000.0: 3,
         845000.0: 22,
         766000.0: 4,
         743000.0: 3,
         916500.0: 1,
         635000.0: 22,
         620000.0: 42,
         447000.0: 3,
         678000.0: 4,
         712000.0: 6,
         605100.0: 1,
         880000.0: 40,
         577000.0: 6,
         753000.0: 6,
         857000.0: 3,
         1500000.0: 64,
         740000.0: 28,
         931000.0: 9,
         535600.0: 2,
         1085000.0: 14,
         781000.0: 5,
         857500.0: 1,
         421000.0: 5,
         1405000.0: 12,
         683000.0: 5,
         623000.0: 4,
         588000.0: 4,
         710000.0: 37,
         550000.0: 58,
         640000.0: 42,
         537500.0: 2,
         875000.0: 24,
         713500.0: 2,
         551000.0: 7,
         925000.0: 19,
         708000.0: 2,
         656000.0: 6,
         883000.0: 1,
         965000.0: 16,
         870000.0: 29,
         681000.0: 6,
         522500.0: 6,
         972000.0: 3,
         923000.0: 3,
         693000.0: 3,
         728500.0: 1,
         988000.0: 4,
         610000.0: 40,
         815000.0: 27,
         852500.0: 2,
         847500.0: 1,
         625000.0: 26,
         292000.0: 3,
         599000.0: 6,
         995000.0: 15,
         1205000.0: 17,
         2675000.0: 1,
         1939000.0: 1,
         421500.0: 1,
         585000.0: 30,
         2050000.0: 18,
         1870000.0: 6,
         1918000.0: 2,
         3625000.0: 2,
         3000000.0: 9,
         1930000.0: 5,
         735000.0: 22,
         1586000.0: 1,
         645000.0: 22,
         1435000.0: 11,
         280000.0: 10,
         400000.0: 47,
         592500.0: 4,
         1210000.0: 26,
         2801000.0: 1,
         2200000.0: 25,
         324000.0: 1,
         5525000.0: 1,
         2250000.0: 27,
         2360000.0: 4,
         2365000.0: 3,
         732000.0: 4,
         704000.0: 1,
         315000.0: 11,
         1992000.0: 1,
         872000.0: 5,
         598000.0: 4,
         1285000.0: 6,
         3660000.0: 1,
         2760000.0: 3,
         690000.0: 42,
         4200000.0: 2,
         1101000.0: 6,
         3512500.0: 1,
         869000.0: 1,
         2865000.0: 1,
         2810000.0: 3,
         565000.0: 13,
         567000.0: 3,
         546000.0: 6,
         471500.0: 1,
         455000.0: 12,
         940000.0: 38,
         467000.0: 1,
         1380000.0: 17,
         1284000.0: 1,
         971000.0: 3,
         2425000.0: 4,
         1053000.0: 5,
         1377000.0: 2,
         751000.0: 8,
         950000.0: 62,
         1230000.0: 21,
         636500.0: 2,
         872500.0: 3,
         1440000.0: 10,
         801000.0: 14,
         1425000.0: 14,
         1075000.0: 18,
         1255000.0: 13,
         1483000.0: 1,
         432000.0: 5,
         1640000.0: 5,
         1430000.0: 22,
         1505000.0: 13,
         1150000.0: 47,
         1905000.0: 4,
         442000.0: 6,
         1037500.0: 1,
         1050000.0: 51,
         1010000.0: 31,
         1291000.0: 5,
         1130000.0: 18,
         1345000.0: 10,
         296000.0: 4,
         1381500.0: 1,
         786000.0: 5,
         487500.0: 3,
         1060000.0: 24,
         1410000.0: 26,
         1305000.0: 12,
         932500.0: 3,
         1215000.0: 12,
         545000.0: 19,
         1705000.0: 6,
         2650000.0: 5,
         1820000.0: 10,
         1670000.0: 12,
         1575000.0: 11,
         1991000.0: 1,
         1555000.0: 5,
         1417000.0: 2,
         1942000.0: 1,
         1337000.0: 2,
         2950000.0: 9,
         2215000.0: 2,
         1880000.0: 10,
         1518000.0: 3,
         1710000.0: 12,
         1655000.0: 7,
         1445000.0: 5,
         1356000.0: 1,
         1662000.0: 2,
         1665000.0: 3,
         3510000.0: 1,
         1730000.0: 7,
         968000.0: 3,
         1570000.0: 9,
         1360000.0: 13,
         2752000.0: 1,
         1601000.0: 6,
         1650000.0: 37,
         1610000.0: 12,
         1415000.0: 5,
         1250000.0: 54,
         1422000.0: 3,
         1860000.0: 10,
         1790000.0: 4,
         1320000.0: 26,
         1280000.0: 18,
         1045000.0: 14,
         761000.0: 5,
         1270000.0: 22,
         1510000.0: 17,
         1365000.0: 9,
         1232800.0: 1,
         1170000.0: 16,
         1631000.0: 2,
         1529500.0: 1,
         535000.0: 20,
         1240000.0: 14,
         855000.0: 28,
         1400000.0: 64,
         964000.0: 1,
         900500.0: 2,
         851000.0: 8,
         848000.0: 1,
         806000.0: 6,
         1155000.0: 17,
         636000.0: 4,
         655000.0: 27,
         1160000.0: 21,
         560000.0: 32,
         627500.0: 4,
         1372000.0: 1,
         665000.0: 30,
         560500.0: 1,
         615000.0: 21,
         775000.0: 22,
         892500.0: 3,
         695000.0: 19,
         990000.0: 31,
         762000.0: 3,
         411000.0: 4,
         795000.0: 9,
         634000.0: 3,
         642000.0: 5,
         863000.0: 3,
         1819000.0: 1,
         410000.0: 30,
         1015000.0: 19,
         438000.0: 5,
         502500.0: 3,
         1193000.0: 2,
         416000.0: 2,
         981000.0: 9,
         1690000.0: 10,
         1080000.0: 21,
         497500.0: 2,
         2290000.0: 1,
         2570000.0: 3,
         2400000.0: 19,
         3250000.0: 4,
         4000000.0: 7,
         812000.0: 6,
         4260000.0: 1,
         1140000.0: 8,
         2330000.0: 1,
         2130000.0: 7,
         2125000.0: 3,
         4350000.0: 3,
         648000.0: 4,
         1020000.0: 28,
         2350000.0: 11,
         526000.0: 7,
         905000.0: 27,
         3180000.0: 2,
         1367000.0: 2,
         788000.0: 2,
         3600000.0: 4,
         2550000.0: 9,
         3350000.0: 3,
         662500.0: 5,
         3270000.0: 2,
         1920000.0: 9,
         2730000.0: 2,
         2410000.0: 5,
         2530000.0: 2,
         2020000.0: 7,
         1472000.0: 1,
         1910000.0: 13,
         754000.0: 2,
         1605000.0: 7,
         3400000.0: 6,
         1490000.0: 9,
         2188000.0: 1,
         2900000.0: 8,
         1947000.0: 1,
         3290000.0: 1,
         2665000.0: 1,
         2275000.0: 3,
         1385000.0: 13,
         4600000.0: 1,
         3401000.0: 1,
         3020000.0: 4,
         2450000.0: 8,
         1912000.0: 1,
         1530000.0: 10,
         3900000.0: 4,
         1700000.0: 41,
         3230000.0: 1,
         1450000.0: 36,
         3300000.0: 3,
         2251000.0: 1,
         2160000.0: 9,
         2205000.0: 3,
         1265000.0: 9,
         2614000.0: 1,
         1825000.0: 7,
         920000.0: 43,
         1572000.0: 1,
         3690000.0: 1,
         709000.0: 3,
         1388800.0: 1,
         1702000.0: 1,
         2910000.0: 4,
         860000.0: 45,
         2070000.0: 1,
         2190000.0: 2,
         2600000.0: 17,
         1818000.0: 1,
         2170000.0: 4,
         2525000.0: 4,
         3360000.0: 2,
         1845000.0: 4,
         1620000.0: 17,
         1420000.0: 19,
         1903000.0: 1,
         1712000.0: 2,
         1720000.0: 9,
         2086000.0: 1,
         1675000.0: 6,
         1680000.0: 9,
         1137000.0: 2,
         1389000.0: 2,
         1040000.0: 19,
         1520000.0: 13,
         2006000.0: 1,
         1875000.0: 11,
         1760000.0: 8,
         1238000.0: 2,
         1651000.0: 4,
         1560000.0: 17,
         1038000.0: 1,
         1660000.0: 5,
         1260000.0: 30,
         2155000.0: 4,
         1225000.0: 19,
         2150000.0: 9,
         1770000.0: 4,
         2040000.0: 5,
         691500.0: 3,
         1836000.0: 2,
         1222500.0: 3,
         2470000.0: 1,
         896000.0: 4,
         2700000.0: 8,
         1005000.0: 16,
         1317500.0: 1,
         360000.0: 26,
         2435000.0: 1,
         1375000.0: 10,
         1475000.0: 11,
         867000.0: 4,
         1328000.0: 2,
         1815000.0: 9,
         2255000.0: 2,
         1470000.0: 19,
         1293000.0: 1,
         1390000.0: 15,
         1247000.0: 1,
         1311000.0: 1,
         1327500.0: 1,
         1960000.0: 8,
         1095000.0: 4,
         797500.0: 2,
         1235000.0: 11,
         1355000.0: 9,
         1448000.0: 1,
         1041000.0: 2,
         2520000.0: 3,
         1533000.0: 1,
         1545000.0: 2,
         1486000.0: 3,
         738000.0: 5,
         1535000.0: 7,
         1281000.0: 1,
         1096000.0: 1,
         517500.0: 4,
         1245000.0: 9,
         503000.0: 5,
         2620000.0: 4,
         1057000.0: 1,
         746000.0: 7,
         913788.0: 1,
         1206000.0: 3,
         1115000.0: 14,
         1190000.0: 18,
         1025000.0: 18,
         737500.0: 1,
         742000.0: 4,
         495000.0: 23,
         1220000.0: 25,
         885000.0: 15,
         1137500.0: 2,
         380000.0: 34,
         689000.0: 1,
         1338000.0: 1,
         651000.0: 5,
         1357500.0: 1,
         370000.0: 36,
         486500.0: 2,
         597000.0: 3,
         899000.0: 4,
         1185000.0: 14,
         716000.0: 7,
         1302500.0: 4,
         1279000.0: 1,
         1106000.0: 2,
         1208000.0: 1,
         921000.0: 5,
         742500.0: 4,
         1307000.0: 1,
         702000.0: 8,
         813000.0: 3,
         1325000.0: 18,
         722000.0: 10,
         930000.0: 46,
         1108000.0: 3,
         1352000.0: 2,
         835000.0: 22,
         791000.0: 5,
         1189000.0: 3,
         823000.0: 5,
         1131000.0: 3,
         884000.0: 2,
         935000.0: 18,
         977000.0: 4,
         1197000.0: 2,
         485000.0: 27,
         1698888.0: 1,
         340000.0: 12,
         1161000.0: 2,
         1266000.0: 4,
         1175000.0: 12,
         1433500.0: 1,
         1630000.0: 13,
         1216000.0: 1,
         772500.0: 2,
         1001000.0: 8,
         882000.0: 4,
         787500.0: 3,
         886000.0: 3,
         1241000.0: 1,
         1472500.0: 1,
         1306000.0: 2,
         1715000.0: 7,
         288000.0: 3,
         948000.0: 1,
         2770000.0: 2,
         1412000.0: 2,
         975000.0: 23,
         616000.0: 5,
         1661000.0: 1,
         1461400.0: 1,
         1506000.0: 4,
         928000.0: 4,
         1625000.0: 13,
         836000.0: 7,
         737000.0: 6,
         1351000.0: 5,
         822500.0: 4,
         502000.0: 7,
         868000.0: 4,
         652000.0: 6,
         570500.0: 3,
         575000.0: 21,
         826000.0: 7,
         696000.0: 2,
         579000.0: 3,
         856500.0: 2,
         536000.0: 4,
         475000.0: 18,
         505000.0: 12,
         697500.0: 2,
         1635000.0: 10,
         3695000.0: 1,
         3700000.0: 3,
         3775000.0: 2,
         1975000.0: 6,
         4250000.0: 2,
         2905000.0: 1,
         1725000.0: 9,
         2266000.0: 1,
         1761000.0: 1,
         2750000.0: 4,
         2145000.0: 1,
         3171000.0: 1,
         1067000.0: 2,
         1865000.0: 4,
         833000.0: 2,
         3320000.0: 2,
         1775000.0: 7,
         1602000.0: 1,
         1102000.0: 6,
         1411000.0: 1,
         4700000.0: 4,
         1785000.0: 4,
         1962000.0: 2,
         3295888.0: 1,
         375000.0: 12,
         756000.0: 4,
         4375000.0: 1,
         1036000.0: 2,
         905500.0: 2,
         1811000.0: 3,
         2375000.0: 5,
         1762000.0: 1,
         858000.0: 2,
         1427000.0: 2,
         2517500.0: 1,
         2475000.0: 1,
         2790000.0: 2,
         2320000.0: 1,
         1037000.0: 2,
         3050000.0: 3,
         1701000.0: 1,
         2640000.0: 3,
         5250000.0: 1,
         567800.0: 1,
         671000.0: 6,
         3085000.0: 2,
         3580000.0: 1,
         3550000.0: 4,
         3751000.0: 1,
         821000.0: 3,
         2405000.0: 2,
         1352500.0: 1,
         3105000.0: 1,
         1171000.0: 4,
         1940000.0: 4,
         1952000.0: 1,
         2504000.0: 1,
         1840000.0: 3,
         1495000.0: 5,
         1590000.0: 10,
         1580000.0: 8,
         2500000.0: 9,
         3207000.0: 1,
         1301000.0: 6,
         1915000.0: 4,
         1460000.0: 20,
         2110000.0: 4,
         2655000.0: 1,
         2127000.0: 1,
         1706000.0: 2,
         2355000.0: 4,
         1912500.0: 2,
         2630000.0: 2,
         1755000.0: 5,
         2560000.0: 4,
         1511000.0: 1,
         1537000.0: 1,
         994000.0: 2,
         1447000.0: 1,
         692000.0: 8,
         903000.0: 5,
         2820000.0: 2,
         1813000.0: 1,
         2175000.0: 5,
         2310000.0: 2,
         563000.0: 1,
         1014000.0: 2,
         428000.0: 3,
         1026000.0: 2,
         1802500.0: 2,
         2230000.0: 2,
         272500.0: 1,
         677000.0: 3,
         845500.0: 1,
         1055000.0: 16,
         659500.0: 3,
         627000.0: 2,
         430000.0: 20,
         1056000.0: 1,
         764000.0: 1,
         1105000.0: 13,
         1094000.0: 1,
         792000.0: 4,
         906500.0: 1,
         587000.0: 5,
         1358000.0: 2,
         976000.0: 3,
         641000.0: 6,
         279500.0: 1,
         936000.0: 2,
         1261000.0: 2,
         1044000.0: 1,
         1691500.0: 1,
         501000.0: 5,
         1276000.0: 2,
         601000.0: 13,
         435000.0: 22,
         491000.0: 4,
         350000.0: 22,
         871000.0: 8,
         1395000.0: 7,
         916000.0: 3,
         240000.0: 4,
         1217000.0: 1,
         822000.0: 8,
         947000.0: 2,
         1317000.0: 1,
         772000.0: 7,
         1073000.0: 1,
         945000.0: 9,
         521500.0: 2,
         320000.0: 15,
         942000.0: 2,
         471000.0: 1,
         473000.0: 2,
         265000.0: 2,
         793000.0: 6,
         400500.0: 2,
         989000.0: 1,
         1172000.0: 3,
         711000.0: 8,
         1186000.0: 3,
         385000.0: 9,
         330000.0: 23,
         537000.0: 5,
         285000.0: 4,
         921500.0: 2,
         901000.0: 7,
         252000.0: 1,
         484000.0: 1,
         351000.0: 1,
         395000.0: 12,
         497000.0: 3,
         403000.0: 1,
         816000.0: 6,
         1585000.0: 2,
         1303000.0: 3,
         1336000.0: 2,
         1127000.0: 2,
         1401000.0: 5,
         1002000.0: 4,
         787000.0: 4,
         1302000.0: 3,
         1298000.0: 1,
         812500.0: 1,
         1244000.0: 1,
         1063000.0: 1,
         1890000.0: 4,
         1022500.0: 1,
         1151000.0: 4,
         686000.0: 4,
         604000.0: 2,
         1682000.0: 2,
         1342000.0: 2,
         1381000.0: 1,
         1782800.0: 1,
         956000.0: 4,
         1468000.0: 2,
         1765000.0: 3,
         633000.0: 3,
         1070500.0: 1,
         1521000.0: 1,
         757000.0: 4,
         1145000.0: 8,
         902000.0: 4,
         1000050.0: 2,
         1116000.0: 2,
         2068000.0: 1,
         1615000.0: 11,
         3225000.0: 3,
         1017000.0: 1,
         729000.0: 1,
         2240000.0: 3,
         2860000.0: 3,
         2285000.0: 2,
         1987000.0: 1,
         717000.0: 5,
         2325000.0: 8,
         892000.0: 5,
         3165000.0: 1,
         522000.0: 3,
         900400.0: 1,
         2090000.0: 2,
         1622000.0: 1,
         4440000.0: 1,
         591000.0: 7,
         2608000.0: 1,
         1946000.0: 1,
         2228000.0: 1,
         4760000.0: 1,
         1602500.0: 1,
         1515000.0: 7,
         2132500.0: 1,
         2625000.0: 4,
         2580000.0: 1,
         3150000.0: 1,
         1333000.0: 1,
         558000.0: 1,
         2177000.0: 1,
         2010000.0: 3,
         2105000.0: 2,
         2725000.0: 3,
         667000.0: 2,
         2220000.0: 3,
         2015000.0: 2,
         3710000.0: 1,
         706000.0: 7,
         2740000.0: 1,
         1587500.0: 2,
         4110000.0: 1,
         2930000.0: 1,
         3800000.0: 4,
         4500000.0: 2,
         690500.0: 3,
         736000.0: 7,
         1843000.0: 1,
         3145000.0: 1,
         1742000.0: 2,
         5110000.0: 1,
         1016000.0: 4,
         2718000.0: 1,

In [193]:
Counter(df['Method'])

Counter({'SS': 12,
         'S': 8406,
         'VB': 1098,
         'SP': 2013,
         'PI': 1883,
         'SN': 587,
         'W': 51,
         'PN': 121,
         'SA': 51,
         nan: 24})

In [194]:
method_null = df[df['Method'].isnull()].index.tolist()
df['Method'].iloc[method_null] = 'S'
Counter(df['Method'])

Counter({'SS': 12,
         'S': 8430,
         'VB': 1098,
         'SP': 2013,
         'PI': 1883,
         'SN': 587,
         'W': 51,
         'PN': 121,
         'SA': 51})

In [195]:
C = Counter(df['SellerG'])
max(C, key=C.get)

'Nelson'

In [196]:
sellerg_null = df[df['SellerG'].isnull()].index.tolist()
df['SellerG'].iloc[sellerg_null] = 'Nelson'
Counter(df['SellerG'])

Counter({'Jellis': 1553,
         'Biggin': 449,
         'Rounds': 2,
         'Nelson': 1681,
         'Collins': 62,
         'Dingle': 34,
         'Purplebricks': 29,
         'Greg': 257,
         'Philip': 38,
         'LITTLE': 43,
         'Kay': 206,
         'Beller': 23,
         'Marshall': 1038,
         'hockingstuart': 1284,
         'Brad': 361,
         'Maddison': 5,
         'Barry': 990,
         'Airport': 1,
         'Considine': 31,
         'Rendina': 79,
         'Ray': 534,
         'Propertyau': 1,
         'McDonald': 34,
         'Frank': 47,
         'Prof.': 4,
         'Harcourts': 68,
         'Thomson': 47,
         'Buxton': 758,
         'RT': 297,
         "Sotheby's": 11,
         'Cayzer': 56,
         'Chisholm': 88,
         'McGrath': 181,
         'Brace': 16,
         'Miles': 260,
         'Holland': 9,
         'Love': 97,
         'Thomas': 3,
         'Barlow': 20,
         'Sweeney': 218,
         'Village': 143,
         'Jas': 232,
         'Williams': 126,
         'Gunn&Co': 14,
         'Burnham': 40,
         'Point': 1,
         'Compton': 4,
         'FN': 13,
         'Hunter': 15,
         'Raine&Horne': 5,
         'Noel': 169,
         'Hodges': 144,
         'Gary': 213,
         'Fletchers': 317,
         'Woodards': 324,
         'Raine': 90,
         'Alexkarbon': 34,
         'Walshe': 27,
         'Weda': 6,
         'Stockdale': 135,
         'Tim': 16,
         'Buxton/Marshall': 1,
         'AIME': 1,
         'Moonee': 42,
         'HAR': 13,
         'Edward': 31,
         'RW': 50,
         'North': 1,
         'MICM': 19,
         'Ascend': 3,
         'Christopher': 11,
         'Morrison': 7,
         'Bekdon': 12,
         'Mandy': 4,
         'R&H': 4,
         'Fletchers/One': 1,
         'Lindellas': 17,
         'Appleby': 1,
         'Assisi': 5,
         'One': 1,
         'Owen': 4,
         'Parkes': 8,
         'C21': 35,
         'Century': 3,
         "O'Brien": 5,
         'Bayside': 4,
         'Anderson': 9,
         'Paul': 17,
         'hockingstuart/Buxton': 1,
         'Smart': 2,
         'First': 4,
         'Matthew': 5,
         'Melbourne': 19,
         'Nick': 55,
         'Allens': 5,
         'Bells': 32,
         'Nguyen': 3,
         'Trimson': 13,
         'Douglas': 93,
         'Batty': 1,
         'GL': 21,
         'YPA': 51,
         "Tiernan's": 1,
         'J': 17,
         'Castran': 18,
         'Branon': 3,
         'Rodney': 21,
         'Joseph': 1,
         'Harrington': 21,
         'Galldon': 2,
         'Grantham': 3,
         'Chambers': 11,
         'Pagan': 33,
         'Peter': 40,
         'hockingstuart/Advantage': 1,
         'Ross': 9,
         'Rayner': 1,
         'Garvey': 6,
         "O'Donoghues": 11,
         'Hamilton': 3,
         'Weast': 1,
         'Kelly': 4,
         'Property': 2,
         "Private/Tiernan's": 1,
         'Australian': 2,
         'Bustin': 1,
         "Abercromby's": 29,
         'Whiting': 19,
         'iTRAK': 2,
         'Del': 1,
         'Caine': 26,
         'Nicholson': 7,
         'JMRE': 3,
         'ASL': 3,
         'Changing': 3,
         'Re': 8,
         'RE': 2,
         'Walsh': 4,
         'Foxtons': 1,
         'Ham': 5,
         'Darren': 18,
         'Vic': 1,
         'Haughton': 23,
         'Scott': 3,
         'Pride': 13,
         'Morleys': 11,
         'Wilson': 20,
         'Buxton/Advantage': 2,
         'Professionals': 2,
         'Joe': 1,
         'Red': 2,
         'hockingstuart/Jellis': 1,
         'Craig': 2,
         'Naison': 1,
         'Sweeney/Advantage': 2,
         'Reach': 2,
         'Domain': 5,
         'Eview': 42,
         'Jason': 3,
         "D'Aprano": 7,
         'Charlton': 5,
         'CASTRAN': 1,
         'Wood': 2,
         'William': 10,
         'Coventry': 1,
         'Buckingham': 24,
         'Nardella': 2,
         'Karen': 1,
         'LJ': 4,
         'Shape': 3,
         'Direct': 1,
         'Fletchers/Fletchers': 1,
         'Besser': 3,
         'Johnston': 1,
         'Avion': 1,
         'Redina': 2,
         'Clairmont': 1,
         'Lucas': 3,
         'Dixon': 4,
         'Xynergy': 1,
         'Elite': 3,
         'Buxton/Find': 1,
         'W.B.': 10,
         'Leased': 3,
         'Harcourts/Barry': 1,
         'Win': 1,
         'Collings': 2,
         'New': 4,
         'Parkinson': 2,
         'Geoff': 1,
         'hockingstuart/Barry': 1,
         'Blue': 1,
         'MSM': 1,
         'Steveway': 1,
         'hockingstuart/Village': 2,
         'VICPROP': 2,
         'Inner': 2,
         'Meadows': 1,
         'Allan': 1,
         'S&L': 5,
         'Crane': 2,
         'Calder': 2,
         'Metro': 1,
         'Homes': 1,
         'Zahn': 1,
         'Mason': 1,
         'Landfield': 1,
         'David': 3,
         'Luxe': 1,
         'Prowse': 2,
         'Ken': 2,
         'Rombotis': 1,
         'iOne': 1,
         'hockingstuart/Sweeney': 1,
         'Iconek': 1,
         'Luxton': 1,
         'Hooper': 2,
         'JRW': 1,
         'Oak': 1,
         'White': 2,
         'Jim': 1,
         'Weston': 1,
         '@Realty': 1,
         'Reed': 1,
         'Oriental': 1,
         'Max': 1,
         'Steller': 2,
         'Rosin': 1,
         'Real': 1,
         'Jeffrey': 1,
         'Hall': 1,
         'Icon': 1,
         'buyMyplace': 2,
         'WHITEFOX': 1,
         'Christou': 1,
         'Marvelli': 1})

In [197]:
Coun = Counter(df['Distance'])
#Coun
max(Coun, key =Coun.get )

11.2

In [198]:
distance_null = df[df['Distance'].isnull()].index.tolist()
df['Distance'].iloc[distance_null] = 11.2
Counter(df['Distance'])

Counter({2.5: 106,
         13.5: 180,
         3.3: 320,
         6.4: 185,
         13.8: 234,
         11.1: 94,
         6.3: 139,
         5.9: 256,
         11.0: 90,
         12.2: 82,
         10.5: 175,
         6.6: 87,
         9.7: 274,
         9.2: 665,
         11.2: 1160,
         13.0: 427,
         13.9: 499,
         13.1: 71,
         10.8: 55,
         10.7: 226,
         5.2: 228,
         11.8: 240,
         11.7: 135,
         7.8: 491,
         9.0: 102,
         3.2: 52,
         11.4: 260,
         8.9: 37,
         8.1: 44,
         9.3: 76,
         13.6: 91,
         3.4: 71,
         1.6: 145,
         10.3: 34,
         8.5: 79,
         7.7: 187,
         8.0: 339,
         9.4: 94,
         5.8: 53,
         3.5: 98,
         4.4: 64,
         12.1: 152,
         13.7: 157,
         14.5: 114,
         4.6: 380,
         7.9: 130,
         15.0: 59,
         12.8: 123,
         4.2: 120,
         5.6: 251,
         7.5: 227,
         6.2: 11,
         7.4: 142,
         8.7: 130,
         2.8: 127,
         4.1: 37,
         6.9: 152,
         14.6: 71,
         8.4: 149,
         2.3: 76,
         5.5: 210,
         11.5: 77,
         14.7: 74,
         2.6: 338,
         9.9: 193,
         3.8: 204,
         4.5: 285,
         8.8: 263,
         2.1: 92,
         1.2: 47,
         6.1: 235,
         12.6: 116,
         13.3: 86,
         6.5: 164,
         14.9: 49,
         1.9: 46,
         5.1: 76,
         7.0: 175,
         9.1: 71,
         9.5: 19,
         1.8: 49,
         1.5: 29,
         9.8: 37,
         12.4: 131,
         10.6: 63,
         8.2: 109,
         10.9: 24,
         10.4: 36,
         14.0: 61,
         12.5: 9,
         5.3: 11,
         12.7: 8,
         3.7: 6})

In [199]:
df.groupby(df['Rooms'])['Bedroom2'].median()

Rooms
1.0     1.0
2.0     2.0
3.0     3.0
4.0     4.0
5.0     5.0
6.0     6.0
7.0     7.0
8.0     8.0
9.0     NaN
10.0    9.0
12.0    NaN
Name: Bedroom2, dtype: float64

In [200]:
pd.crosstab( df['Bedroom2'].isnull(), df['Rooms'])

Rooms     1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0   10.0  12.0
Bedroom2
False      655  3354  4555  2075   497    49     8     8     0     1     0
True       146   843  1269   632   132    11     2     3     2     2     2

In [201]:
bedroom2_null = df[df['Bedroom2'].isnull()].index.tolist()
df['Bedroom2'].iloc[bedroom2_null] = 3
Counter(df['Bedroom2'])

Counter({2.0: 3490,
         3.0: 7637,
         4.0: 1930,
         6.0: 42,
         1.0: 667,
         5.0: 448,
         7.0: 8,
         0.0: 13,
         8.0: 5,
         9.0: 4,
         30.0: 1,
         20.0: 1})

In [202]:
df.groupby(df['Bedroom2'])['Bathroom'].median()

Bedroom2
0.0      1.0
1.0      1.0
2.0      1.0
3.0      1.0
4.0      2.0
5.0      3.0
6.0      3.0
7.0      3.0
8.0      3.0
9.0      6.5
20.0     1.0
30.0    12.0
Name: Bathroom, dtype: float64

In [203]:
bedroom2_null = df[df['Bathroom'].isnull()].index.tolist()
df['Bathroom'].iloc[bedroom2_null] = 3
Counter(df['Bathroom'])

Counter({1.0: 6319,
         2.0: 3898,
         3.0: 3847,
         7.0: 3,
         4.0: 105,
         0.0: 40,
         5.0: 28,
         6.0: 4,
         12.0: 1,
         8.0: 1})

In [204]:
df.groupby(df['Landsize'])['Car'].median()

Landsize
0.0        1.0
1.0        4.0
2.0        1.0
3.0        1.0
14.0       1.0
15.0       2.0
18.0       1.0
29.0       1.0
34.0       1.0
36.0       1.0
40.0       1.0
41.0       1.0
43.0       2.0
46.0       1.0
47.0       1.0
49.0       1.0
50.0       1.5
53.0       1.5
54.0       2.0
55.0       1.0
56.0       1.0
57.0       0.5
58.0       1.0
59.0       1.0
60.0       1.0
61.0       1.0
62.0       2.0
63.0       0.5
64.0       1.0
65.0       1.0
          ...
5661.0     2.0
5865.0     2.0
6111.0     3.0
6186.0     1.0
6261.0     2.0
6494.0     1.0
6866.0     1.0
7159.0     1.0
7170.0     2.0
7330.0     2.0
7455.0     1.0
7458.0     1.0
7746.0     2.0
8216.0     1.0
8220.0     1.0
8223.0     1.0
8680.0     1.0
8888.0     1.0
10100.0    2.0
14500.0    0.5
14545.0    1.0
15100.0    1.0
15900.0    1.0
16000.0    1.0
17200.0    2.0
21700.0    2.0
21715.0    2.0
37000.0    2.0
41400.0    2.0
75100.0    2.0
Name: Car, Length: 1325, dtype: float64

In [205]:
pd.crosstab( df['Car'].isnull(), df['Landsize'])

Landsize,0.0,1.0,2.0,3.0,14.0,15.0,18.0,29.0,34.0,36.0,...,14545.0,15100.0,15900.0,16000.0,17200.0,21700.0,21715.0,37000.0,41400.0,75100.0
Car,,,,,,,,,,,,,,,,,,,,,
False,2026,1,1,1,1,1,1,1,1,3,...,1,1,2,1,4,1,1,1,1,1

In [206]:
df['Car'].value_counts()

1.0     4924
2.0     4307
0.0      954
3.0      557
4.0      373
5.0       41
6.0       30
7.0        8
8.0        6
26.0       1
11.0       1
Name: Car, dtype: int64

In [207]:
car_null = df[df['Car'].isnull()].index.tolist()
df['Car'].iloc[car_null] = 1
Counter(df['Car'])

Counter({1.0: 7968,
         0.0: 954,
         2.0: 4307,
         6.0: 30,
         5.0: 41,
         4.0: 373,
         3.0: 557,
         8.0: 6,
         7.0: 8,
         11.0: 1,
         26.0: 1})

In [208]:
df['Landsize'] = df['Landsize'].replace(0, np.nan)

In [209]:
df['Landsize'].isnull().sum()

5087

In [222]:
land_grp =  df.groupby(df['Price'])['Landsize'].median()

In [223]:
land_crs = pd.crosstab( df['Landsize'].isnull(), df['Price'])
land_crs

Price,85000.0,131000.0,145000.0,160000.0,185000.0,190000.0,200000.0,210000.0,211000.0,215000.0,...,5250000.0,5500000.0,5525000.0,5700000.0,5733000.0,5800000.0,6240000.0,6250000.0,6500000.0,8000000.0
Landsize,,,,,,,,,,,,,,,,,,,,,
False,0,1,2,1,1,0,1,0,0,0,...,0,2,1,1,0,1,0,1,1,1
True,1,0,0,0,1,1,1,3,1,1,...,1,0,0,0,1,0,1,0,0,0

In [224]:
land_crs.idxmax(axis=1)

Landsize
False    1125000.0
True     1125000.0
dtype: float64

In [225]:
land_grp[1125000]

500.0

In [226]:
land_null = df[df['Landsize'].isnull()].index.tolist()
df['Landsize'].iloc[land_null] = 500
Counter(df['Landsize'])

Counter({126.0: 12,
         202.0: 19,
         156.0: 15,
         500.0: 5100,
         134.0: 11,
         94.0: 11,
         120.0: 14,
         400.0: 14,
         201.0: 11,
         181.0: 18,
         245.0: 10,
         4292.0: 1,
         230.0: 22,
         256.0: 8,
         220.0: 18,
         176.0: 26,
         214.0: 15,
         195.0: 16,
         238.0: 13,
         113.0: 11,
         138.0: 20,
         183.0: 15,
         150.0: 12,
         780.0: 24,
         119.0: 13,
         4290.0: 1,
         124.0: 10,
         147.0: 16,
         166.0: 20,
         98.0: 8,
         168.0: 17,
         162.0: 18,
         182.0: 13,
         172.0: 16,
         303.0: 5,
         580.0: 15,
         272.0: 16,
         239.0: 11,
         290.0: 5,
         620.0: 21,
         597.0: 26,
         976.0: 2,
         110.0: 9,
         141.0: 16,
         1063.0: 3,
         265.0: 17,
         192.0: 20,
         596.0: 23,
         165.0: 14,
         971.0: 1,
         164.0: 16,
         657.0: 19,
         612.0: 16,
         775.0: 8,
         531.0: 18,
         555.0: 16,
         422.0: 5,
         614.0: 12,
         161.0: 15,
         293.0: 11,
         579.0: 10,
         623.0: 8,
         212.0: 12,
         532.0: 11,
         585.0: 38,
         509.0: 8,
         628.0: 12,
         159.0: 17,
         211.0: 21,
         128.0: 12,
         215.0: 27,
         130.0: 8,
         336.0: 15,
         167.0: 12,
         153.0: 20,
         316.0: 14,
         718.0: 7,
         132.0: 19,
         199.0: 14,
         253.0: 10,
         90.0: 8,
         240.0: 12,
         177.0: 11,
         237.0: 5,
         129.0: 11,
         288.0: 18,
         366.0: 9,
         228.0: 16,
         149.0: 11,
         152.0: 19,
         236.0: 10,
         300.0: 16,
         209.0: 16,
         173.0: 12,
         327.0: 14,
         169.0: 20,
         122.0: 15,
         241.0: 10,
         225.0: 23,
         435.0: 12,
         330.0: 10,
         136.0: 11,
         325.0: 19,
         79.0: 8,
         99.0: 8,
         81.0: 7,
         174.0: 11,
         853.0: 4,
         208.0: 11,
         411.0: 12,
         922.0: 2,
         599.0: 12,
         809.0: 8,
         743.0: 12,
         88.0: 12,
         155.0: 8,
         686.0: 10,
         592.0: 18,
         606.0: 16,
         575.0: 18,
         180.0: 14,
         979.0: 2,
         556.0: 14,
         552.0: 6,
         589.0: 21,
         352.0: 14,
         729.0: 12,
         292.0: 14,
         506.0: 13,
         655.0: 11,
         1057.0: 2,
         311.0: 10,
         65.0: 4,
         602.0: 19,
         530.0: 11,
         777.0: 6,
         280.0: 10,
         127.0: 8,
         695.0: 21,
         115.0: 14,
         197.0: 18,
         745.0: 11,
         69.0: 4,
         625.0: 12,
         137.0: 9,
         70.0: 5,
         175.0: 11,
         363.0: 9,
         534.0: 22,
         724.0: 13,
         577.0: 15,
         205.0: 10,
         504.0: 9,
         797.0: 5,
         117.0: 12,
         529.0: 4,
         675.0: 9,
         929.0: 3,
         697.0: 42,
         604.0: 26,
         154.0: 12,
         533.0: 10,
         554.0: 11,
         77.0: 6,
         540.0: 14,
         328.0: 8,
         559.0: 10,
         537.0: 12,
         252.0: 10,
         558.0: 13,
         171.0: 11,
         851.0: 4,
         551.0: 19,
         740.0: 7,
         315.0: 13,
         276.0: 11,
         590.0: 30,
         715.0: 16,
         561.0: 6,
         691.0: 13,
         708.0: 9,
         668.0: 12,
         633.0: 10,
         557.0: 24,
         536.0: 7,
         305.0: 20,
         861.0: 4,
         101.0: 10,
         588.0: 14,
         296.0: 8,
         217.0: 29,
         881.0: 2,
         1581.0: 1,
         693.0: 9,
         2113.0: 1,
         246.0: 13,
         369.0: 9,
         144.0: 13,
         662.0: 14,
         242.0: 12,
         249.0: 18,
         624.0: 17,
         482.0: 8,
         405.0: 12,
         495.0: 7,
         451.0: 5,
         1491.0: 1,
         449.0: 8,
         301.0: 14,
         207.0: 19,
         734.0: 6,
         2659.0: 1,
         151.0: 21,
         2471.0: 1,
         1194.0: 1,
         459.0: 14,
         186.0: 10,
         421.0: 6,
         251.0: 11,
         709.0: 8,
         563.0: 12,
         103.0: 11,
         617.0: 13,
         544.0: 13,
         196.0: 15,
         266.0: 10,
         298.0: 10,
         271.0: 9,
         277.0: 13,
         423.0: 4,
         478.0: 8,
         285.0: 10,
         1014.0: 1,
         226.0: 12,
         269.0: 11,
         417.0: 10,
         350.0: 15,
         118.0: 18,
         398.0: 8,
         594.0: 12,
         317.0: 14,
         229.0: 18,
         170.0: 16,
         462.0: 9,
         487.0: 11,
         255.0: 15,
         431.0: 11,
         950.0: 5,
         440.0: 10,
         683.0: 14,
         263.0: 15,
         308.0: 16,
         562.0: 11,
         461.0: 4,
         491.0: 5,
         387.0: 9,
         521.0: 10,
         146.0: 18,
         318.0: 17,
         833.0: 2,
         418.0: 9,
         414.0: 7,
         206.0: 15,
         1957.0: 1,
         416.0: 9,
         314.0: 15,
         576.0: 14,
         200.0: 12,
         349.0: 15,
         664.0: 14,
         278.0: 13,
         254.0: 12,
         216.0: 12,
         452.0: 12,
         194.0: 20,
         598.0: 16,
         407.0: 5,
         753.0: 7,
         203.0: 18,
         310.0: 15,
         370.0: 14,
         710.0: 11,
         679.0: 5,
         731.0: 4,
         583.0: 20,
         1472.0: 1,
         681.0: 10,
         516.0: 7,
         806.0: 4,
         699.0: 11,
         513.0: 6,
         351.0: 11,
         690.0: 11,
         702.0: 17,
         404.0: 9,
         650.0: 69,
         704.0: 12,
         696.0: 39,
         755.0: 4,
         591.0: 17,
         227.0: 15,
         545.0: 9,
         1075.0: 3,
         672.0: 15,
         749.0: 7,
         703.0: 6,
         605.0: 25,
         687.0: 13,
         321.0: 15,
         700.0: 36,
         295.0: 7,
         752.0: 6,
         514.0: 4,
         844.0: 3,
         637.0: 8,
         343.0: 10,
         375.0: 7,
         842.0: 6,
         467.0: 10,
         372.0: 12,
         621.0: 12,
         723.0: 8,
         367.0: 9,
         526.0: 8,
         792.0: 5,
         803.0: 8,
         981.0: 5,
         768.0: 7,
         782.0: 6,
         785.0: 3,
         593.0: 16,
         772.0: 6,
         787.0: 2,
         353.0: 10,
         72.0: 5,
         706.0: 14,
         766.0: 12,
         727.0: 9,
         586.0: 25,
         760.0: 11,
         320.0: 16,
         717.0: 7,
         839.0: 4,
         779.0: 4,
         677.0: 15,
         705.0: 22,
         542.0: 9,
         569.0: 9,
         671.0: 12,
         673.0: 7,
         571.0: 9,
         570.0: 13,
         600.0: 21,
         789.0: 5,
         550.0: 6,
         339.0: 13,
         761.0: 5,
         595.0: 12,
         1801.0: 1,
         574.0: 14,
         289.0: 12,
         649.0: 23,
         322.0: 11,
         581.0: 21,
         873.0: 3,
         260.0: 15,
         158.0: 20,
         812.0: 6,
         549.0: 6,
         582.0: 13,
         638.0: 10,
         607.0: 16,
         244.0: 12,
         304.0: 9,
         114.0: 7,
         178.0: 15,
         232.0: 7,
         483.0: 8,
         157.0: 13,
         348.0: 10,
         659.0: 10,
         744.0: 6,
         651.0: 12,
         2051.0: 1,
         647.0: 16,
         678.0: 13,
         342.0: 11,
         1015.0: 2,
         954.0: 2,
         635.0: 14,
         188.0: 16,
         281.0: 12,
         453.0: 12,
         121.0: 11,
         1148.0: 1,
         219.0: 11,
         642.0: 6,
         935.0: 1,
         104.0: 10,
         746.0: 7,
         344.0: 8,
         674.0: 17,
         611.0: 15,
         832.0: 8,
         231.0: 12,
         380.0: 7,
         306.0: 16,
         610.0: 21,
         87.0: 7,
         1315.0: 2,
         739.0: 9,
         213.0: 17,
         1007.0: 2,
         1205.0: 1,
         685.0: 6,
         584.0: 19,
         297.0: 17,
         1468.0: 1,
         190.0: 19,
         925.0: 4,
         807.0: 7,
         665.0: 15,
         722.0: 7,
         613.0: 21,
         1437.0: 1,
         259.0: 13,
         868.0: 2,
         876.0: 1,
         1611.0: 2,
         778.0: 5,
         1135.0: 1,
         942.0: 3,
         888.0: 2,
         652.0: 15,
         750.0: 11,
         347.0: 12,
         736.0: 5,
         847.0: 6,
         1082.0: 2,
         546.0: 10,
         886.0: 3,
         667.0: 18,
         645.0: 13,
         998.0: 1,
         510.0: 7,
         283.0: 17,
         619.0: 12,
         720.0: 13,
         992.0: 2,
         714.0: 6,
         1274.0: 1,
         517.0: 6,
         587.0: 14,
         1070.0: 2,
         694.0: 15,
         204.0: 15,
         345.0: 11,
         689.0: 11,
         800.0: 5,
         900.0: 7,
         815.0: 5,
         1088.0: 2,
         1138.0: 1,
         464.0: 18,
         763.0: 10,
         854.0: 1,
         643.0: 17,
         1002.0: 1,
         879.0: 4,
         1247.0: 1,
         1040.0: 2,
         234.0: 11,
         1235.0: 3,
         676.0: 11,
         904.0: 6,
         654.0: 23,
         713.0: 9,
         632.0: 10,
         639.0: 9,
         869.0: 5,
         1042.0: 1,
         362.0: 7,
         716.0: 8,
         707.0: 8,
         1364.0: 1,
         917.0: 2,
         1010.0: 2,
         949.0: 3,
         701.0: 14,
         670.0: 17,
         368.0: 9,
         802.0: 5,
         493.0: 6,
         1185.0: 2,
         250.0: 21,
         640.0: 18,
         622.0: 11,
         275.0: 18,
         644.0: 11,
         808.0: 5,
         669.0: 16,
         754.0: 6,
         666.0: 7,
         767.0: 6,
         845.0: 7,
         737.0: 6,
         458.0: 7,
         75100.0: 1,
         282.0: 11,
         730.0: 11,
         939.0: 2,
         786.0: 4,
         140.0: 14,
         299.0: 12,
         793.0: 4,
         291.0: 8,
         692.0: 15,
         795.0: 9,
         565.0: 14,
         627.0: 19,
         578.0: 14,
         331.0: 12,
         758.0: 6,
         333.0: 11,
         116.0: 16,
         902.0: 2,
         1045.0: 4,
         326.0: 12,
         567.0: 9,
         855.0: 5,
         354.0: 10,
         382.0: 7,
         505.0: 9,
         682.0: 3,
         309.0: 13,
         332.0: 11,
         1043.0: 2,
         568.0: 12,
         274.0: 17,
         384.0: 9,
         123.0: 8,
         83.0: 9,
         346.0: 5,
         572.0: 10,
         388.0: 7,
         287.0: 5,
         105.0: 6,
         603.0: 18,
         385.0: 9,
         393.0: 9,
         258.0: 11,
         601.0: 17,
         76.0: 3,
         145.0: 13,
         618.0: 15,
         653.0: 18,
         96.0: 7,
         818.0: 4,
         636.0: 7,
         313.0: 15,
         434.0: 5,
         747.0: 6,
         629.0: 13,
         732.0: 13,
         819.0: 2,
         684.0: 12,
         658.0: 11,
         268.0: 12,
         660.0: 18,
         726.0: 8,
         841.0: 3,
         721.0: 5,
         337.0: 12,
         391.0: 7,
         267.0: 17,
         518.0: 7,
         450.0: 10,
         319.0: 16,
         543.0: 12,
         1080.0: 3,
         456.0: 6,
         365.0: 11,
         764.0: 6,
         725.0: 9,
         741.0: 7,
         210.0: 20,
         222.0: 11,
         406.0: 7,
         233.0: 11,
         261.0: 12,
         185.0: 15,
         395.0: 7,
         1044.0: 2,
         860.0: 3,
         774.0: 6,
         29.0: 1,
         125.0: 10,
         307.0: 12,
         712.0: 5,
         492.0: 6,
         86.0: 2,
         973.0: 3,
         821.0: 6,
         566.0: 8,
         471.0: 6,
         631.0: 11,
         198.0: 15,
         4931.0: 1,
         663.0: 10,
         688.0: 12,
         436.0: 4,
         836.0: 7,
         525.0: 4,
         742.0: 8,
         432.0: 9,
         340.0: 9,
         329.0: 8,
         463.0: 12,
         615.0: 14,
         993.0: 2,
         1470.0: 1,
         835.0: 1,
         454.0: 4,
         996.0: 2,
         1073.0: 3,
         895.0: 2,
         323.0: 12,
         131.0: 13,
         442.0: 10,
         547.0: 7,
         359.0: 9,
         426.0: 6,
         107.0: 6,
         1572.0: 1,
         1208.0: 2,
         106.0: 9,
         484.0: 4,
         470.0: 10,
         848.0: 5,
         437.0: 4,
         279.0: 12,
         360.0: 15,
         443.0: 7,
         247.0: 13,
         994.0: 2,
         824.0: 4,
         312.0: 10,
         616.0: 12,
         112.0: 16,
         481.0: 6,
         999.0: 2,
         302.0: 15,
         564.0: 8,
         634.0: 6,
         490.0: 12,
         661.0: 13,
         1561.0: 1,
         1000.0: 6,
         401.0: 7,
         898.0: 2,
         773.0: 5,
         915.0: 2,
         469.0: 3,
         189.0: 16,
         759.0: 3,
         538.0: 15,
         975.0: 1,
         630.0: 17,
         486.0: 11,
         798.0: 7,
         527.0: 11,
         496.0: 6,
         324.0: 9,
         420.0: 13,
         539.0: 13,
         784.0: 2,
         74.0: 4,
         424.0: 9,
         371.0: 13,
         656.0: 16,
         757.0: 10,
         1233.0: 1,
         264.0: 7,
         95.0: 8,
         179.0: 10,
         402.0: 8,
         100.0: 11,
         410.0: 12,
         133.0: 17,
         1674.0: 1,
         262.0: 5,
         438.0: 11,
         257.0: 9,
         466.0: 8,
         135.0: 12,
         1140.0: 1,
         82.0: 7,
         184.0: 15,
         218.0: 15,
         4676.0: 2,
         1328.0: 2,
         4668.0: 1,
         55.0: 7,
         338.0: 11,
         460.0: 7,
         480.0: 11,
         358.0: 5,
         73.0: 4,
         501.0: 10,
         512.0: 4,
         364.0: 7,
         412.0: 6,
         447.0: 7,
         608.0: 19,
         284.0: 10,
         2120.0: 1,
         378.0: 10,
         553.0: 14,
         357.0: 8,
         519.0: 5,
         474.0: 3,
         499.0: 6,
         796.0: 5,
         770.0: 6,
         1124.0: 2,
         475.0: 9,
         728.0: 10,
         1221.0: 1,
         609.0: 15,
         826.0: 8,
         1145.0: 1,
         931.0: 4,
         273.0: 9,
         811.0: 4,
         711.0: 8,
         928.0: 4,
         946.0: 1,
         921.0: 3,
         160.0: 15,
         804.0: 2,
         776.0: 6,
         465.0: 16,
         1393.0: 1,
         399.0: 5,
         381.0: 9,
         1101.0: 1,
         389.0: 6,
         980.0: 2,
         934.0: 4,
         648.0: 14,
         1107.0: 3,
         914.0: 2,
         1133.0: 1,
         896.0: 4,
         335.0: 10,
         425.0: 7,
         93.0: 5,
         221.0: 17,
         814.0: 6,
         427.0: 7,
         143.0: 11,
         801.0: 3,
         870.0: 2,
         769.0: 5,
         943.0: 3,
         84.0: 10,
         1003.0: 4,
         1446.0: 1,
         813.0: 4,
         903.0: 4,
         1131.0: 1,
         698.0: 9,
         891.0: 1,
         877.0: 3,
         1350.0: 1,
         805.0: 8,
         850.0: 1,
         390.0: 11,
         970.0: 2,
         912.0: 4,
         522.0: 5,
         756.0: 4,
         468.0: 13,
         788.0: 4,
         965.0: 1,
         858.0: 9,
         838.0: 3,
         444.0: 4,
         502.0: 12,
         1266.0: 1,
         415.0: 5,
         361.0: 7,
         1698.0: 1,
         187.0: 10,
         1031.0: 1,
         413.0: 9,
         163.0: 14,
         142.0: 7,
         408.0: 5,
         373.0: 8,
         60.0: 2,
         1113.0: 3,
         751.0: 8,
         1105.0: 1,
         78.0: 9,
         109.0: 7,
         548.0: 9,
         967.0: 1,
         111.0: 14,
         376.0: 7,
         932.0: 2,
         108.0: 17,
         817.0: 2,
         820.0: 4,
         1504.0: 2,
         952.0: 2,
         270.0: 13,
         1092.0: 2,
         771.0: 6,
         810.0: 1,
         831.0: 2,
         494.0: 8,
         520.0: 12,
         641.0: 7,
         224.0: 20,
         515.0: 6,
         1033.0: 2,
         193.0: 9,
         67.0: 7,
         441.0: 3,
         286.0: 13,
         386.0: 7,
         983.0: 2,
         477.0: 13,
         439.0: 2,
         419.0: 4,
         374.0: 10,
         379.0: 7,
         1060.0: 2,
         735.0: 9,
         97.0: 7,
         856.0: 3,
         223.0: 6,
         356.0: 8,
         457.0: 9,
         488.0: 5,
         102.0: 8,
         43.0: 1,
         489.0: 7,
         394.0: 4,
         498.0: 3,
         626.0: 9,
         473.0: 6,
         472.0: 13,
         535.0: 13,
         2886.0: 1,
         15900.0: 2,
         816.0: 3,
         2773.0: 2,
         3701.0: 1,
         1157.0: 2,
         507.0: 6,
         882.0: 3,
         827.0: 5,
         840.0: 4,
         1127.0: 1,
         963.0: 2,
         733.0: 8,
         846.0: 2,
         1777.0: 1,
         871.0: 1,
         341.0: 9,
         872.0: 2,
         867.0: 2,
         1484.0: 1,
         1177.0: 1,
         334.0: 8,
         479.0: 6,
         1764.0: 1,
         1170.0: 1,
         1966.0: 1,
         958.0: 1,
         2381.0: 1,
         2925.0: 1,
         80.0: 11,
         1210.0: 2,
         75.0: 4,
         1622.0: 1,
         1307.0: 2,
         1547.0: 2,
         560.0: 13,
         235.0: 11,
         1240.0: 1,
         799.0: 3,
         497.0: 9,
         445.0: 5,
         646.0: 12,
         916.0: 3,
         503.0: 8,
         1021.0: 1,
         396.0: 9,
         1536.0: 2,
         383.0: 8,
         1061.0: 1,
         1200.0: 2,
         825.0: 1,
         862.0: 3,
         1011.0: 4,
         429.0: 5,
         2020.0: 1,
         10100.0: 1,
         66.0: 5,
         1658.0: 1,
         89.0: 5,
         2782.0: 1,
         64.0: 4,
         4332.0: 1,
         2778.0: 1,
         4296.0: 4,
         148.0: 15,
         2077.0: 1,
         294.0: 9,
         2794.0: 2,
         47.0: 1,
         8680.0: 1,
         59.0: 2,
         4727.0: 1,
         1783.0: 2,
         355.0: 8,
         680.0: 5,
         919.0: 2,
         1318.0: 2,
         541.0: 8,
         1258.0: 1,
         1053.0: 2,
         859.0: 4,
         1184.0: 1,
         945.0: 4,
         63.0: 2,
         1097.0: 2,
         829.0: 1,
         1005.0: 1,
         1069.0: 2,
         885.0: 1,
         1723.0: 1,
         834.0: 6,
         830.0: 4,
         762.0: 7,
         1218.0: 2,
         1485.0: 2,
         857.0: 5,
         1339.0: 1,
         397.0: 6,
         1029.0: 1,
         3056.0: 1,
         1996.0: 1,
         1081.0: 1,
         977.0: 1,
         781.0: 4,
         719.0: 6,
         738.0: 6,
         1020.0: 1,
         1402.0: 2,
         765.0: 3,
         783.0: 5,
         3414.0: 1,
         1093.0: 1,
         920.0: 3,
         1038.0: 2,
         85.0: 5,
         1585.0: 1,
         1056.0: 1,
         1997.0: 2,
         1089.0: 1,
         3132.0: 1,
         791.0: 2,
         71.0: 7,
         243.0: 5,
         911.0: 2,
         1236.0: 2,
         1099.0: 2,
         1228.0: 2,
         1275.0: 1,
         1595.0: 2,
         905.0: 1,
         1568.0: 1,
         3194.0: 1,
         191.0: 11,
         428.0: 7,
         837.0: 4,
         748.0: 3,
         508.0: 3,
         523.0: 5,
         1.0: 1,
         1179.0: 1,
         1252.0: 1,
         1006.0: 1,
         455.0: 8,
         139.0: 7,
         3977.0: 1,
         ...})

In [231]:
len(df['BuildingArea'])

14246

In [237]:
print(8078/14246)#BuildingArea

print(7147/14246)#YearBuilt

0.567036361083813
0.5016846834199074

Missing Values in BuildingArea and YearBuilt columns are more than 50% .

In [238]:
df['CouncilArea'].value_counts()

Boroondara       1351
Moreland         1140
Stonnington       953
Moonee Valley     919
Darebin           903
Glen Eira         836
Port Phillip      693
Maribyrnong       685
Yarra             677
Banyule           546
Bayside           506
Melbourne         458
Hobsons Bay       404
Brimbank          301
Manningham        255
Whitehorse        237
Monash            216
Kingston           82
Hume               21
Name: CouncilArea, dtype: int64

In [239]:
council_null = df[df['CouncilArea'].isnull()].index.tolist()
df['CouncilArea'].iloc[council_null] = 'Boroondara'
Counter(df['CouncilArea'])

Counter({'Yarra': 677,
         'Boroondara': 4414,
         'Moonee Valley': 919,
         'Port Phillip': 693,
         'Darebin': 903,
         'Hobsons Bay': 404,
         'Stonnington': 953,
         'Monash': 216,
         'Glen Eira': 836,
         'Whitehorse': 237,
         'Maribyrnong': 685,
         'Bayside': 506,
         'Moreland': 1140,
         'Manningham': 255,
         'Banyule': 546,
         'Melbourne': 458,
         'Kingston': 82,
         'Brimbank': 301,
         'Hume': 21})

In [240]:
df.isnull().sum()

Suburb             0
Address           14
Rooms              0
Type               0
Price              0
Method             0
SellerG            0
Date              24
Distance           0
Postcode          24
Bedroom2           0
Bathroom           0
Car                0
Landsize           0
BuildingArea    8078
YearBuilt       7147
CouncilArea        0
Lattitude       2940
Longtitude      2939
dtype: int64